
<div class="nav-wrapper">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
        <li class="nav-title"> <span>Navigation</span> </li>
        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span>Home</span> </a></li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-map-marker"></i><span>Places</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/places/add"><i class="fa fa-circle"></i><span>Add new</span></a></li>
                <li><a md-button aria-label="meanu" href="#/places/viewAll"><i class="fa fa-circle"></i><span>View all</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-plane"></i><span>Planes</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/planes/add"><i class="fa fa-circle"></i><span>Add new</span></a></li>
                <li><a md-button aria-label="meanu" href="#/planes/viewAll"><i class="fa fa-circle"></i><span>View all</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-users"></i><span>Users</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/users/add"><i class="fa fa-circle"></i><span>Add new admin</span></a></li>
                <li><a md-button aria-label="meanu" href="#/users/viewAdmins"><i class="fa fa-circle"></i><span>View admin users</span></a></li>
                <li><a md-button aria-label="meanu" href="#/users/viewAll"><i class="fa fa-circle"></i><span>View all users</span></a></li>
            </ul>
        </li>
    </ul>
</div>