<div class="page">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{titleName}}</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl form-validation" ng-cloak>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <form name="formStandard" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                                <fieldset>
                                    <md-input-container class="md-block">
                                        <label>Name</label>
                                        <md-icon class="fa fa-hashtag"></md-icon>
                                        <input required 
                                               type="text"
                                               name="name" 
                                               ng-model="object.name" />
                                        <div ng-messages="formStandard.name.$error" multiple ng-if='formStandard.name.$dirty'>
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>

                                    <div class="divider divider-md"></div>
                                    <md-input-container class="md-block">
                                        <label>Short name</label>
                                        <md-icon class="fa fa-font"></md-icon>
                                        <input required 
                                               type="text"
                                               name="short_name"
                                               ng-model="object.short_name"
                                               data-ng-pattern="/^[A-Z]{3}$/">
                                        <div ng-messages="formStandard.short_name.$error" multiple ng-if='formStandard.short_name.$dirty'>    
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="pattern">3 capitalized characters. (ej: AAA, NAN)</div>
                                        </div>
                                    </md-input-container>                    
                                    <md-button type="submit"
                                               class="md-raised btn-w-md md-primary"
                                               ng-disabled="!canSubmit()">Submit</md-button>

                                    <div class="divider"></div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>