<div class="page page-table">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">View all places</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
                <span>
                Showing {{filteredData.length}}/{{storedData.length}} entries
                </span>                
            </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                Place Name
                <span class="fa fa-angle-up"
                    data-ng-click=" order('name') "
                    data-ng-class="{active: row == 'name'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-name') "
                    data-ng-class="{active: row == '-name'}"></span>
                </div></th>
                <th><div class="th">
                Place Short Name
                <span class="fa fa-angle-up"
                    data-ng-click=" order('short_name') "
                    data-ng-class="{active: row == 'short_name'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-short_name') "
                    data-ng-class="{active: row == '-short_name'}"></span>
                </div></th>
                <th><div class="th">
                Actions
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="data in currentPageData">
                <td>{{data.name}}</td>
                <td>{{data.short_name}}</td>
                <td>                                
                    <md-button aria-label="edit" class="md-fab md-fab-xs" ng-click="showEdit(data.id)">
                        <span class="fa fa-pencil"></span>
                    </md-button> 
                    <span class="space"></span>
                    <md-button aria-label="remove" class="md-fab md-warn md-fab-xs" ng-click="preShowConfirmDelete($event,data.name,data.id)">
                        <span class="fa fa-trash"></span>
                    </md-button> 
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredData.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>