<div class="page page-table">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">View all payments</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
                <span>
                Showing {{filteredData.length}}/{{storedData.length}} entries
                </span>                
            </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
            	  <th><div class="th">
                Name
                <span class="fa fa-angle-up"
                    data-ng-click=" order('complete_name') "
                    data-ng-class="{active: row == 'complete_name'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-complete_name') "
                    data-ng-class="{active: row == '-complete_name'}"></span>
                </div></th>
                <th><div class="th">
                Email
                <span class="fa fa-angle-up"
                    data-ng-click=" order('email') "
                    data-ng-class="{active: row == 'email'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-email') "
                    data-ng-class="{active: row == '-email'}"></span>
                </div></th>
                <th><div class="th">
                Ext. Payment Id / Type / ID
                <span class="fa fa-angle-up"
                    data-ng-click=" order('external_payment_id') "
                    data-ng-class="{active: row == 'external_payment_id'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-external_payment_id') "
                    data-ng-class="{active: row == '-external_payment_id'}"></span>
                </div></th>
                <th><div class="th">
                Amount
                <span class="fa fa-angle-up"
                    data-ng-click=" order('amount') "
                    data-ng-class="{active: row == 'amount'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-amount') "
                    data-ng-class="{active: row == '-amount'}"></span>
                </div></th>
                <th><div class="th">
                Description
                <span class="fa fa-angle-up"
                    data-ng-click=" order('description') "
                    data-ng-class="{active: row == 'description'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-description') "
                    data-ng-class="{active: row == '-description'}"></span>
                </div></th>
                <th><div class="th">
                External State
                <span class="fa fa-angle-up"
                    data-ng-click=" order('external_state') "
                    data-ng-class="{active: row == 'external_state'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-external_state') "
                    data-ng-class="{active: row == '-external_state'}"></span>
                </div></th>
                <th><div class="th">
                Capture State
                <span class="fa fa-angle-up"
                    data-ng-click=" order('capture_state') "
                    data-ng-class="{active: row == 'capture_state'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-capture_state') "
                    data-ng-class="{active: row == '-capture_state'}"></span>
                </div></th>
                <th><div class="th">
                Date and Time
                <span class="fa fa-angle-up"
                    data-ng-click=" order('created_at') "
                    data-ng-class="{active: row == 'created_at'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-created_at') "
                    data-ng-class="{active: row == '-created_at'}"></span>
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="data in currentPageData">
                <td>{{data.complete_name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.external_payment_id}} / {{data.payment_method}} / {{data.payment_id}}</td>
                <td>{{data.currency}} {{data.amount}}</td>
                <td>{{data.description}}</td>
                <td>{{data.external_state}}</td>
                <td>{{data.capture_state}}</td>
                <td>{{data.created_at}}</td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredData.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>