<div class="page page-table">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">View all users</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
                <span>
                Showing {{filteredData.length}}/{{storedData.length}} entries
                </span>                
            </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                Complete Name
                <span class="fa fa-angle-up"
                    data-ng-click=" order('complete_name') "
                    data-ng-class="{active: row == 'complete_name'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-complete_name') "
                    data-ng-class="{active: row == '-complete_name'}"></span>
                </div></th>
                <th><div class="th">
                Email
                <span class="fa fa-angle-up"
                    data-ng-click=" order('email') "
                    data-ng-class="{active: row == 'email'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-email') "
                    data-ng-class="{active: row == '-email'}"></span>
                </div></th>
                <th><div class="th">
                Address
                <span class="fa fa-angle-up"
                    data-ng-click=" order('address') "
                    data-ng-class="{active: row == 'address'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-address') "
                    data-ng-class="{active: row == '-address'}"></span>
                </div></th>
                <th><div class="th">
                Cell phone
                <span class="fa fa-angle-up"
                    data-ng-click=" order('cell_phone') "
                    data-ng-class="{active: row == 'cell_phone'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-cell_phone') "
                    data-ng-class="{active: row == '-cell_phone'}"></span>
                </div></th>
                <th><div class="th">
                User Type
                <span class="fa fa-angle-up"
                    data-ng-click=" order('user_type') "
                    data-ng-class="{active: row == 'user_type'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-user_type') "
                    data-ng-class="{active: row == '-user_type'}"></span>
                </div></th>
                <th><div class="th">
                    Member
                    <span class="fa fa-angle-up"
                        data-ng-click=" order('user_type') "
                        data-ng-class="{active: row == 'user_type'}"></span>
                    <span class="fa fa-angle-down"
                        data-ng-click=" order('-user_type') "
                        data-ng-class="{active: row == '-user_type'}"></span>
                    </div></th>
                <th><div class="th">
                Create Mode
                <span class="fa fa-angle-up"
                    data-ng-click=" order('create_mode') "
                    data-ng-class="{active: row == 'create_mode'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-create_mode') "
                    data-ng-class="{active: row == '-create_mode'}"></span>
                </div></th>
                <th><div class="th">
                Body Weight
                <span class="fa fa-angle-up"
                    data-ng-click=" order('body_weight') "
                    data-ng-class="{active: row == 'body_weight'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-body_weight') "
                    data-ng-class="{active: row == '-body_weight'}"></span>
                </div></th>
                <th><div class="th">
                Actions
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="data in currentPageData">
                <td>{{data.complete_name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.address}}</td>
                <td>{{data.cell_phone}}</td>
                <td>{{data.user_type}}</td>
                <td>{{data.get_member.description}}</td>
                <td>{{data.create_mode}}</td>
                <td>{{data.body_weight}}</td>
                <td>                                
                    <md-button aria-label="edit" class="md-fab md-fab-xs" ng-click="showEdit(data.id)" ng-show="data.user_type=='admin'">
                        <span class="fa fa-pencil"></span>
                    </md-button> 
                    <span class="space"></span>
                    <md-button aria-label="remove" class="md-fab md-warn md-fab-xs" ng-click="preShowConfirmDelete($event,data.complete_name,data.id)" ng-show="data.user_type!=='admin'">
                        <span class="fa fa-trash"></span>
                    </md-button> 
                    <span class="space"></span>
                    <md-button aria-label="sendpush" class="md-fab md-fab-xs md-notify" ng-click="sendPush(data.id,data.complete_name)" ng-show="data.user_type=='app_user' && data.id_onesignal !== null">
                        <span class="fa fa-bell-o"></span>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredData.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>