<div class="nav-wrapper">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
        <li class="nav-title"> <span>Navigation</span> </li>
        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span>Home</span> </a></li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-cog"></i><span>Setup</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/setup/edit/1"><i class="fa fa-circle"></i><span>Ticket Cost</span></a></li>
                <li><a md-button aria-label="meanu" href="#/setup/edit2/2"><i class="fa fa-circle"></i><span>EULA</span></a></li>
                <li><a md-button aria-label="meanu" href="#/setup/edit2/3"><i class="fa fa-circle"></i><span>Privacy Policy</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-cog"></i><span>Profile Ticket Cost</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/profiles/add"><i class="fa fa-circle"></i><span>Add new</span></a></li>
                <li><a md-button aria-label="meanu" href="#/profiles/viewAll"><i class="fa fa-circle"></i><span>View all</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-map-marker"></i><span>Places</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/places/add"><i class="fa fa-circle"></i><span>Add new</span></a></li>
                <li><a md-button aria-label="meanu" href="#/places/viewAll"><i class="fa fa-circle"></i><span>View all</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-users"></i><span>Members</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/members/add"><i class="fa fa-circle"></i><span>Add new</span></a></li>
                <li><a md-button aria-label="meanu" href="#/members/viewAll"><i class="fa fa-circle"></i><span>View all</span></a></li>
                <li><a md-button aria-label="meanu" href="#/members/send-notification"><i class="fa fa-circle"></i><span>Send message notification</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-plane"></i><span>Planes</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/planes/add"><i class="fa fa-circle"></i><span>Add new</span></a></li>
                <li><a md-button aria-label="meanu" href="#/planes/viewAll"><i class="fa fa-circle"></i><span>View all</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-calendar"></i><span>Flights</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/flights/add"><i class="fa fa-circle"></i><span>Add new</span></a></li>
                <!--<li><a md-button aria-label="meanu" href="#/flights/viewAll"><i class="fa fa-circle"></i><span>View all</span></a></li>-->
                <li><a md-button aria-label="meanu" href="#/flights/viewAllpassed"><i class="fa fa-circle"></i><span>View passed</span></a></li>
                <li><a md-button aria-label="meanu" href="#/flights/viewAllfuture"><i class="fa fa-circle"></i><span>View future</span></a></li>
            </ul>
        </li>
        <li>
          <a md-button aria-label="meanu" href="#/payments/viewAll"><i class="fa fa-usd"></i><span>Payments</span></a>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="fa fa-users"></i><span>Users</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/users/add-admin"><i class="fa fa-circle"></i><span>Add new admin</span></a></li>
                <li><a md-button aria-label="meanu" href="#/musers/add"><i class="fa fa-circle"></i><span>Add new mobile</span></a></li>
                <li><a md-button aria-label="meanu" href="#/users/viewAll"><i class="fa fa-circle"></i><span>View all</span></a></li>
            </ul>
        </li>
    </ul>
</div>