<md-dialog aria-label="List dialog" flex="66">
    
    <md-dialog-content>
        <md-list>
            <md-subheader class="md-no-sticky">Select Flight</md-subheader>
            <md-list-item ng-repeat="plane in planes">
                <p>{{flight.origin_name}} - {{flight.destination_name}} - {{flight.plane_name}}</p>
                <md-checkbox class="md-secondary" ng-model="flight.checked" ng-change="planeSelected(flight)"></md-checkbox>
            </md-list-item>
        </md-list>
        
    </md-dialog-content>
    
    <md-dialog-actions>
        <md-button ng-click="setFlight()" class="md-primary">
            Set Flight
        </md-button>
        <md-button ng-click="cancel()" class="md-warn">
            Cancel
        </md-button>
    </md-dialog-actions>
    
</md-dialog>